<br>
<ul class="list-group list-group-flush" *ngFor="let item of topics">
    <div class="hover">
        <li class="list-group-item mt-2 bg-dark" id="{{ item[0] }}">
            <div class="md-v-line"></div>
            <a href="#" routerLink="{{ item[1] }}" style="color: teal; text-decoration: none;">
                {{ item[0] }}
            </a>
        </li>
    </div>
</ul>