/* * {
    border: 1px solid red;
  } */

  .home::-webkit-scrollbar {
    display: none;
}

#wrapper {
  margin:0;
  height: 100%;
}

#sidebar {
  padding:20px;
  background:#343434;
  position: absolute;
  bottom: 0;  
  height: 102%;
  margin-bottom: -3%;
}