<navbar style="height: 10%;"
  [isAuthenticated]="isAuthenticated"
  [token]="token"
>
</navbar>

<div class="container-fluid" id="wrapper">
  <div class="row" *ngIf="isAuthenticated">
    <div class="col-md-2 col-lg-2 bg-dark" id="sidebar">
      <sidebar></sidebar>
    </div>
    <div class="col-lg-10 col-md-10 px-0 mt-4" style="margin-left: 15%;">
        <router-outlet>
        </router-outlet>
    </div>
  </div>

  <div *ngIf="!isAuthenticated">
    <app-login (event)="receiveToken($event)">
    </app-login>
  </div>

</div>