<div class="container mt-5">

  <div class="row">
    <div class="col-md-8">
      <h1> Your Trades </h1>

      <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
        <mat-chip class="example-box chips-background" cdkDrag *ngFor="let chips of arrayOfArray">
          <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
            <strong class="chips-text-color">{{ chips }}</strong>
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton" *ngIf="chips === 'Type'">
              <li class="dropdown-item" style="color: teal;" *ngFor="let category of categories">
                {{ category }}
              </li>
          </ul>

          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton" *ngIf="chips === 'Status'">
            <li class="dropdown-item" style="color: teal;" *ngFor="let status of statuses">
              {{ status }}
            </li>
        </ul>
        </mat-chip>
      </mat-chip-list>

    </div>
    <div class="col-md-4 text-right">

      <button mat-raised-button (click)="addTrade()" style="float:right;">
        <i class="fa-solid fa-plus fa-lg" style="color:teal;"></i>
      </button>
    </div>
  </div>



  <div class="mat-elevation-z8 mt-3">
    <table mat-table [dataSource]="tradesData">
      
      <ng-container matColumnDef="ind">
        <th mat-header-cell *matHeaderCellDef> <b>#</b> </th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="detailTrade(i)">
           {{ i }} 
        </td>
      </ng-container>  

      <ng-container matColumnDef="asset">
        <th mat-header-cell *matHeaderCellDef> Asset </th>
        <td mat-cell *matCellDef="let element"> <i class="fa-brands fa-bitcoin" style="font-size:20px;color: orange;"></i> {{element.asset.name}} </td>
      </ng-container>
      <ng-container matColumnDef="timeframe">
        <th mat-header-cell *matHeaderCellDef> TF </th>
        <td mat-cell *matCellDef="let element"> {{element.timeframe}} </td>
      </ng-container>
      <ng-container matColumnDef="riskReward">
        <th mat-header-cell *matHeaderCellDef> R:R </th>
        <td mat-cell *matCellDef="let element"> {{element.riskReward}} </td>
      </ng-container>
      <ng-container matColumnDef="entry">
        <th mat-header-cell *matHeaderCellDef> Entry </th>
        <td mat-cell *matCellDef="let element"> {{element.entry}} </td>
      </ng-container>
      <ng-container matColumnDef="stop">
        <th mat-header-cell *matHeaderCellDef> Stop </th>
        <td mat-cell *matCellDef="let element"> {{element.stopLoss}} </td>
      </ng-container>

      <ng-container matColumnDef="win">
        <th mat-header-cell *matHeaderCellDef> Win </th>
        <td mat-cell *matCellDef="let element"> {{element.win | number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date:'MM/dd/yyyy h:m'}} </td>
      </ng-container>

      <ng-container matColumnDef="needed Input">
        <th mat-header-cell *matHeaderCellDef> NeededInput </th>
        <td mat-cell *matCellDef="let element"> {{element.neededInput}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}}</td>
      </ng-container>
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status=='win'" style="color: teal;"> <b>{{element.win | number : '1.0-2'}}</b> </div> 
          <div *ngIf="element.status=='loss'" style="color: red;"> <b>{{element.loss | number : '1.0-2'}}</b></div> 
          <div *ngIf="element.status=='in progress'"> - </div> 
          <div *ngIf="element.status=='neutral'"> 0 </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" style="float: right;">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-mini-fab aria-label="Delete a trade" style="transform: scale(0.8); background-color: seagreen;" (click)="detailTrade(i)">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-mini-fab color="primary" aria-label="Edit a trade" style="transform: scale(0.8);" (click)="editTrade(i)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" aria-label="Delete a trade" style="transform: scale(0.8);" (click)="deleteTrade(element.uuid)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>

    
  </div>
</div>
  <!--
    <div class="row">
    <div class="col-md-8">
      <h1> Your Trades </h1>

      <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
        <mat-chip class="example-box chips-background" cdkDrag *ngFor="let chips of arrayOfArray">
          <a href="#" class="dropdown-toggle chips-text-color" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
            <strong class="chips-text-color">{{ chips }}</strong>
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton" *ngIf="chips === 'Type'">
              <li class="dropdown-item" style="color: teal;" *ngFor="let category of categories">
                {{ category }}
              </li>
          </ul>

          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton" *ngIf="chips === 'Status'">
            <li class="dropdown-item" style="color: teal;" *ngFor="let status of statuses">
              {{ status }}
            </li>
        </ul>
        </mat-chip>
      </mat-chip-list>

    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-large btn-dark" (click)="goToAddTrade()" style="float: right;" title="Add trade">
        <i class="fa-solid fa-plus fa-lg" style="color:teal;"></i>
      </button>
    </div>
  </div>
  <table class="table table-striped table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Asset</th>
        <th scope="col">TF</th>
        <th scope="col">Entry</th>
        <th scope="col">Stop</th>
        <th scope="col">Win</th>
        <th scope="col">Start</th>
        <th scope="col">Input</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngIf="trades == undefined || trades.length == 0" colspan="12" class="text-center" style="font-size: 17px;">
          No data here
        </td>
      </tr>
      <tr *ngFor="let trade of trades; let index = index">
        <td> {{ index }} </td>
        <td> asset </td>
        <td> {{ trade['timeframe'] }} </td>
        <td> {{ trade['entry'] }} </td>
        <td> {{ trade['stopLoss'] }} </td>
        <td> {{ trade['win'] }} </td>
        <td> {{ trade['startDate'] | date:'MM/dd/yyyy' }} </td>
        <td> {{ trade['neededInput'] }} </td>
        <td> {{ trade['status'] }} </td>
        <td> {{ trade['category']['name'] }} </td>
        <td><i class="far fa-edit" title="Edit trade"></i></td>
        <td (click)="deleteTrade(trade.uuid)"><i class="fas fa-times" style="color:red;" title="Delete trade"></i></td>
      </tr>
    </tbody>
  </table>


-->



