<div class="container mt-5">



    <div class="row">
        <mat-tab-group mat-align-tabs="center" background-color="primary">
        
            <mat-tab label="Personal data">
                
                    <app-personal-data></app-personal-data>
                

            </mat-tab>
            <mat-tab label="Notification">Notifications</mat-tab>
            <mat-tab label="Settings">Settings</mat-tab>
        </mat-tab-group>
    </div>
</div>