<div class="container mt-5">
    <div class="row" style="float: right;">
        <div class="col-md-12">
            <div *ngIf="!isModifying">
                <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="modify()"
                    style="background-color: black;">
                    <mat-icon style="color: teal;">mode_edit</mat-icon>
                </button>
            </div>
            <div *ngIf="isModifying">
                <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="save()">
                    <mat-icon>save_alt</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Contact</h4>
                    <div style="font-size: 20px;" class="mt-3"><mat-icon [inline]=true>email</mat-icon> email: {{ user.email }}</div> <br>
                    <div style="font-size: 20px;" class="mt-3"><mat-icon [inline]=true>call </mat-icon> Phone: {{user.phone}}</div><br>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title text-center">Info</h4>

                    <p>First name: {{user.firstName}}</p>
                    <p>Last name: {{user.lastName}}</p><br>
                    <div style="font-size: 20px;" class="mt-3"><mat-icon [inline]=true>account_circle</mat-icon> username: {{ user.username }}</div><br>
                    <div style="font-size: 20px;" class="mt-3"><mat-icon mat-icon [inline]=true>location_on</mat-icon> country: {{user.country}}</div><br>
                    <div style="font-size: 20px;" class="mt-3"><mat-icon mat-icon [inline]=true>calendar_today</mat-icon> birthdate: {{user.birthdate | date:'MM/dd/yyyy'}}</div><br>
                </div>
            </div>
        </div>
    </div>


</div>
<!--<form class="example-form">
    <div class="row" style="float: right;">
        <div class="col-md-12">
            <div *ngIf="!isModifying">
                <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="modify()"
                    style="background-color: black;">
                    <mat-icon style="color: teal;">mode_edit</mat-icon>
                </button>
            </div>
            <div *ngIf="isModifying">
                <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="save()">
                    <mat-icon>save_alt</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label *ngIf="user">{{ user.firstName }}</mat-label>
                <mat-label *ngIf="!user">First name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{ user.lastName }}</mat-label>
                <input matInput disabled>
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{ user.email }}</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{ user.username }}</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <mat-form-field class="example-full-width" appearance="outline">                
                <mat-label>{{ user.country }}</mat-label>
                <mat-select>
                    <mat-option value="option">France</mat-option>
                    <mat-option value="option">USA</mat-option>
                    <mat-option value="option">Ouganda</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>{{ user.gender }}</mat-label>
                <mat-select [value]=userGender>
                    <mat-option value="option">Male</mat-option>
                    <mat-option value="option">Female</mat-option>
                    <mat-option value="option">Other</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{ user.phone }}</mat-label>
                <span matPrefix>+33 &nbsp;</span>
                <input type="tel" matInput placeholder={{user.phone}}>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </div>
    </div>
</form>-->