::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

/*input outline color*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white!important;
    /*/ opacity: 1!important;*/
}


/* mat-label normal state style */
::ng-deep .mat-form-field-label {
    color: white;
}


/* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}