<section class="vh-100 gradient-custom" style="margin-top: -4%;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password</p>

              <div class="form-outline form-white mb-4">
                <mat-form-field appearance="outline" class="form-control form-control-lg">
                  <mat-label style="color: white;">Email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
                    [(ngModel)]="mail">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-outline form-white mb-4">
                <!--<input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="password"
                    placeholder="Password">
                  <label class="form-label" for="typePasswordX">Password</label>-->



                <mat-form-field appearance="outline" class="form-control form-control-lg">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="login()">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!dosmthg" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!dosmthg" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!dosmthg" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>
            </div>
            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold"
                  (click)="onSignUpButton()">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>