<div class="container-fluid">
    <h1> New trade </h1>
    <hr>
    <form #newTrade='ngForm' (ngSubmit)=submitTrade()>

        <div class="row">

            <div class="col-md-12">
                <div class="mat-elevation-z8 mt-3" style="padding: 20px;">


                    <div class="row">
                        <div class="col-md-4">
                            <!-- ASSET -->
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="asset">Asset</mat-label>
                                <mat-select [(ngModel)]="tradeModel.asset" [ngModelOptions]="{standalone: true}"
                                    required>
                                    <mat-option *ngFor="let asset of assetsArray" value="/assets/{{ asset.uuid }}">
                                        {{ asset.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="pair">Pair</mat-label>
                                <mat-select [(ngModel)]="tradeModel.pair" [ngModelOptions]="{standalone: true}"
                                    required>
                                    <mat-option *ngFor="let pair of pairs" value="{{ pair }}">
                                        {{ pair }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <!-- SETUP -->
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="setup">Setup</mat-label>
                                <mat-select [(ngModel)]="tradeModel.setup" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let setup of setupsArray" value="/setups/{{ setup.uuid }}"
                                        (click)="onSetupChosen()">
                                        {{ setup.name }} | {{ setup.riskAllowed }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <!-- STOP -->
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>RiskReward</mat-label>
                                <input matInput type="text" placeholder="2:1" #riskReward='ngModel' name="riskReward"
                                    [(ngModel)]="tradeModel.riskReward" value={{riskRewardDefault}}>
                                <span matSuffix>r:r&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <!-- INPUT -->
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Input</mat-label>
                                <input matInput type="number" placeholder="0" #neededInput='ngModel' required
                                    type="number" name="neededInput" [(ngModel)]="tradeModel.neededInput">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <!-- ENTRY -->
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Entry</mat-label>
                                <input matInput placeholder="0" type="number" #entry='ngModel' required name="entry"
                                    [(ngModel)]="tradeModel.entry">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <!-- STOP -->
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Stop</mat-label>
                                <input matInput type="number" placeholder="0" #stop='ngModel' name="stop"
                                    [(ngModel)]="tradeModel.stopLoss">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <!-- TP -->
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Profit</mat-label>
                                <input matInput type="number" placeholder="0" type="number" name="takeProfit"
                                    [(ngModel)]="tradeModel.takeProfit">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <mat-form-field class="fullw" appearance="outline">
                                <mat-label>Start date</mat-label>
                                <input matInput [matDatepicker]="pickerStart" name="start"
                                    [(ngModel)]="tradeModel.startDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="pickerStart">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="fullw" appearance="outline">
                                <mat-label>End date</mat-label>
                                <input matInput [matDatepicker]="pickerEnd" name="end" [(ngModel)]="tradeModel.endDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="pickerEnd">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="type">Type</mat-label>
                                <mat-select [(ngModel)]="tradeModel.type" [ngModelOptions]="{standalone: true}"
                                    required>
                                    <mat-option *ngFor="let type of types" value="{{type}}">{{type}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="Status">Status</mat-label>
                                <mat-select [(ngModel)]="tradeModel.status" [ngModelOptions]="{standalone: true}"
                                    required>
                                    <mat-option *ngFor="let status of statuses" value="{{status}}">{{status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="timeframe">Timeframe</mat-label>
                                <mat-select [(ngModel)]="tradeModel.timeframe" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let timeframe of timeframes" value="{{ timeframe }}">
                                        {{ timeframe }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="plateforme">Plateforme</mat-label>
                                <mat-select [(ngModel)]="tradeModel.platform" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let platform of PlatformArray"
                                        value="/platforms/{{platform.uuid}}">
                                        {{ platform.name }}

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <!-- CATEGORIES -->
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="category">Category</mat-label>
                                <mat-select [(ngModel)]="tradeModel.category" [ngModelOptions]="{standalone: true}"
                                    required>
                                    <mat-option *ngFor="let category of categoryArray"
                                        value="/categories/{{ category.uuid }}" (click)="onCategoryChange()">
                                        {{ category.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4" *ngIf="displayLeverage">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Leverage</mat-label>
                                <input matInput placeholder="0" #leverage='ngModel' type="number" name="leverage"
                                    [(ngModel)]="tradeModel.leverage">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label>Comment</mat-label>
                                <textarea matInput #comment='ngModel' type="text" name="comment"
                                    [(ngModel)]="tradeModel.comment"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button class='btn btn-dark' style="width:100%; color: teal;">Add </button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>