<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid justify-content-between">
    <div class="d-flex">
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#" style="color:teal;">
        Logger
      </a>
    </div>


    <ul class="navbar-nav flex-row" *ngIf="!isAuthenticated">

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">          
          <strong class="d-none d-sm-block ms-1" style="color:white;" (click)="goToLogin()">
             Login <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </strong>
        </a>
      </li>


    </ul>

    <ul class="navbar-nav flex-row" *ngIf="isAuthenticated">
      <li class="nav-item me-3 me-lg-1" style="padding-right: 20px;">
        <strong class="d-none d-sm-block ms-1" style="color:teal;">
          {{ username }}
       </strong>
      </li>
     
      <li class="nav-item dropdown me-3 me-lg-1" style="padding-right: 25px;">
        <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell fa-lg" style="color:teal;"></i>
          <span class="badge rounded-pill badge-notification bg-danger">12</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">BTC/USDT long passed!</a></li>
          <li><a class="dropdown-item" href="#">ETH/USDT failed</a></li>
          <li><a class="dropdown-item" href="#">Something else</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown me-3 me-lg-1">
        <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-chevron-circle-down fa-lg" style="color:teal;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li *ngFor="let item of accountDropDown">
            <a class="dropdown-item" routerLink="{{ item[1] }}" href="#">
              <div *ngIf="item[0] === 'account'">
                <mat-icon>account_circle </mat-icon> {{ item[0] }}
              </div>
              <div *ngIf="item[0] === 'settings'">
                <mat-icon>settings </mat-icon> {{ item[0] }}
              </div>
              <div *ngIf="item[0] === 'logout'" (click)="logout()">
                <mat-icon>logout</mat-icon> {{ item[0] }}
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>