<div class="modal-header">
    <h4 class="modal-title pull-left"> {{ title }} </h4>
</div>
<div class="modal-body"> {{ body }} </div>
<div class="modal-footer">
    <button class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
</div>