<div class="container-fluid">
    <h1> Edit trade </h1>
    <hr>
    <form (ngSubmit)=submitEditTrade() [formGroup]="tradeForm">

        <div class="row">

            <div class="col-md-12">
                <div class="mat-elevation-z8 mt-3" style="padding: 20px;">


                    <div class="row">
                        <div class="col-md-4">

                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="asset">Asset</mat-label>
                                <mat-select formControlName="asset" required>
                                    <div *ngFor="let asset of assetsArray">
                                        <div *ngIf="asset.name == tradeModel.asset.name">
                                            <mat-option selected value="{{ tradeModel.asset.name }}">
                                                {{ asset.name }}
                                            </mat-option>
                                        </div>
                                        <div *ngIf="asset.name != tradeModel.asset.name">
                                            <mat-option value="{{ asset.name }}">
                                                {{ asset.name }}
                                            </mat-option>
                                        </div>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="pair">Pair</mat-label>
                                <mat-select formControlName="pair" required>
                                    <mat-option *ngFor="let pair of pairs" value="{{ pair }}">
                                        {{ pair }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="setup">Setup</mat-label>
                                <mat-select formControlName="setup">
                                        <div *ngFor="let setup of setupsArray">
                                            <div *ngIf="setup.id == tradeModel.setup.id">
                                                <mat-option selected value="{{ tradeModel.setup.name }}">
                                                    {{ setup.name }}
                                                </mat-option>
                                            </div>
                                            <div *ngIf="setup.id != tradeModel.setup.id">
                                                <mat-option value="{{ setup.name }}" (click)="onSetupChosen()">
                                                    {{ setup.name }}
                                                </mat-option>
                                            </div>
                                        </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>RiskReward</mat-label>
                                <input matInput type="text" placeholder="2:1" name="riskReward"
                                    formControlName="riskReward" value={{riskRewardDefault}}>
                                <span matSuffix>r:r&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Input</mat-label>
                                <input matInput type="number" placeholder="0" required type="number" name="neededInput"
                                    formControlName="neededInput">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Entry</mat-label>
                                <input matInput placeholder="0" type="number" required name="entry"
                                    formControlName="entry">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Stop</mat-label>
                                <input matInput type="number" placeholder="0" name="stop" formControlName="stop">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Profit</mat-label>
                                <input matInput type="number" placeholder="0" type="number" name="takeProfit"
                                    formControlName="profit">
                                <span matSuffix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <mat-form-field class="fullw" appearance="outline">
                                <mat-label>Start date</mat-label>
                                <input matInput [matDatepicker]="pickerStart" name="start" formControlName="startDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="pickerStart">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="fullw" appearance="outline">
                                <mat-label>End date</mat-label>
                                <input matInput [matDatepicker]="pickerEnd" name="end" formControlName="endDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="pickerEnd">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="type">Type</mat-label>
                                <mat-select formControlName="type" required>
                                    <mat-option *ngFor="let type of types" value="{{type}}">{{type}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="Status">Status</mat-label>
                                <mat-select formControlName="status" required>
                                    <mat-option *ngFor="let status of statuses" value="{{status}}">{{status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="timeframe">Timeframe</mat-label>
                                <mat-select formControlName="timeframe">
                                    <mat-option *ngFor="let timeframe of timeframes" value="{{ timeframe }}">
                                        {{ timeframe }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="platform">Plateforme</mat-label>
                                <mat-select formControlName="platform">


                                    <div *ngFor="let platform of PlatformArray">
                                        <div *ngIf="platform.id == tradeModel.platform.id">
                                            <mat-option selected value="{{ tradeModel.platform.name }}">
                                                {{ platform.name }}
                                            </mat-option>
                                        </div>
                                        <div *ngIf="platform.id != tradeModel.platform.id">
                                            <mat-option value="{{ platform.name }}" (click)="onSetupChosen()">
                                                {{ platform.name }}
                                            </mat-option>
                                        </div>
                                    </div>

                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label for="category">Category</mat-label>
                                <mat-select formControlName="category" required>


                                    <div *ngFor="let category of categoryArray">
                                        <div *ngIf="category.id == tradeModel.category.id">
                                            <mat-option selected value="{{ tradeModel.category.name }}">
                                                {{ category.name }}
                                            </mat-option>
                                        </div>
                                        <div *ngIf="category.id != tradeModel.category.id">
                                            <mat-option value="{{ category.name }}" (click)="onCategoryChange()">
                                                {{ category.name }}
                                            </mat-option>
                                        </div>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4" *ngIf="displayLeverage">
                            <mat-form-field appearance="outline" floatLabel="always" class="fullw">
                                <mat-label>Leverage</mat-label>
                                <input matInput placeholder="0" type="number" name="leverage"
                                    formControlName="leverage">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field appearance="outline" class="fullw">
                                <mat-label>Comment</mat-label>
                                <textarea matInput type="text" name="comment" formControlName="comment"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button class='btn btn-dark' style="width:100%; color: white;"> Edit </button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>