<form #platform='ngForm' (ngSubmit)=onSubmit(platform.value)>
    <div class="form-group">
        <label for="platformName">Platform name</label>

        <input #name='ngModel' required minLength=2 type="text" name="platformName" class="form-control" ngModel/>

        <div *ngIf='name.touched && name.invalid' class='alert alert-danger text-center'>
            The platform's name is required and must be valid
        </div>

    </div>

    <pre></pre>

    <div class="form-group">
        <label for="comment">Link</label>
        <input #name='ngModel' type='text' name='link' class='form-control' ngModel/>
    </div>
    <pre></pre>
    <button class='btn btn-primary'>submit</button>
</form>