<div class="container">
    <h1> New setup </h1>
    <hr>

    <div class="mat-elevation-z8 mt-3">
        <form (ngSubmit)=submit() [formGroup]="setupForm">

            <div class="row" style="margin: 0;">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Setup name</mat-label>
                        <input matInput placeholder="Ex. Ron Jeremy" required type="text" class="form-control"
                            name="name" formControlName="setupName">
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Ex. My setup purpose is..."
                            formControlName="setupDescription"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mt-5" style="margin: 0;">
                <!--<div class="col-md-12" style="width:100%;">-->
                    <ng-container formArrayName="arrayOfRules">
                        <div *ngFor="let rule of arrayOfRules.controls; last as isLast; index as idx"
                            style="display: inline-block;">
                            <div [formGroupName]="idx">
                                <div class="row">
                                    <div class="col-md-5">

                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Rule name</mat-label>
                                            <input matInput placeholder="Ex. rule one" type="text"
                                                class="form-control" name="ruleName" formControlName="ruleName">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            style="width: 100%;">
                                            <mat-label>Content</mat-label>
                                            <textarea matInput placeholder="Ex. stop loss mandatory..."
                                                formControlName="ruleContent"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 mt-4">
                                        <i *ngIf="isLast" class="fa-solid fa-circle-plus"
                                            style="color:green; padding-left: 4%; display: inline-block; font-size: 25px;"
                                            (click)="addRule()"></i>
                                        <i class="fa-solid fa-circle-minus"
                                            style="color:red; padding-left: 4%; display: inline-block; font-size: 25px;"
                                            (click)="removeRule(idx)" *ngIf="arrayOfRules.length > 1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                
            </div>

            <div class="form-group row">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 mb-1" style="padding-right: 0;">
                        <button class='btn btn-primary mt-5 w-100'>Add setup</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>