<h1 mat-dialog-title class="text-center" style="color:teal;">
    {{ data.trade.asset.name }} / USDT | {{ data.trade.category.name }}
</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-5 mt-1 mb-1 pt-3 pb-3">

            <div class="row mat-elevation-z8">
                <div class="col-md-12">
                    <h2 class="text-center">{{ data.trade.setup.name }}</h2>
                </div>
            </div>


            <div class="row mat-elevation-z8 mt-3">
                <div class="col-md-12">
                    <h2 class="text-center">Place platform name here</h2>
                </div>
            </div>

            <div class="row mat-elevation-z8 mt-3">
                <div class="col-md-12">
                    <h2 class="inline">Input</h2>
                    <h2 class="fr"> {{ data.trade.neededInput }} </h2>
                </div>
            </div>

            <div class="row mat-elevation-z8 mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="inline">Start</h2>
                        <h2 class="fr"> {{ data.trade.startDate | date:'MM/dd/yyyy h:m' }} </h2>
                    </div>
                </div>
                <div class="row mt-3" *ngIf="data.trade.endDate != null">
                    <div class="col-md-12">
                        <h2 class="inline">End</h2>
                        <h2 class="fr"> {{ data.trade.endDate | date:'MM/dd/yyyy h:m'}} </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5 mt-1 mb-1" style="margin-left: 10px; margin-right: -10px;">

            <div class="row mat-elevation-z8 mt-3" *ngIf="data.trade.type === 'long'">
                <div class="col-md-12" *ngIf="data.trade.status==='in progress'">
                    <h2 class="inline">
                        <i class="fa-solid fa-arrow-trend-up" class="color-teal"></i>
                        LONG
                    </h2>
                    <h2 class="color-teal; fr">
                        +30%
                        <i class="fa-solid fa-sort-up" class="color-teal"></i>
                    </h2>
                </div>
                <div class="col-md-12" *ngIf="data.trade.status!='in progress'">
                    <h2 class="text-center">
                        <i class="fa-solid fa-arrow-trend-up" class="color-teal"></i>
                        LONG
                    </h2>
                </div>
            </div>

            <div class="row mat-elevation-z8 mt-3" *ngIf="data.trade.type === 'short'">
                <div class="col-md-12" color=warn>
                    <h2 class="text-center">
                        <i class="fa-solid fa-arrow-trend-down" style="color: red;"></i>
                        SHORT
                    </h2>
                </div>
            </div>

            <div class="row mat-elevation-z8 mt-3">
                <div class="col-md-12">
                    <h2>
                        {{ data.trade.status}}
                    </h2>
                    <div *ngIf="data.trade.status == 'win'" class="fr">
                        <h2 class="color-teal inline">+ {{ data.trade.win }}</h2>
                    </div>
                    <div *ngIf="data.trade.status == 'loss'" class="inline fr">
                        <h2 class="inline color-short"> - {{ data.trade.loss }}</h2>
                    </div>
                    <div *ngIf="data.trade.status == 'neutral'" class="fr">
                        <h2 class="inline" style="color:grey; ">0</h2>
                    </div>
                </div>
            </div>

            <div class="row mat-elevation-z8 mt-3">
                <div class="col-md-12" >
                    <div>
                        <h4 class="inline">Entry</h4>
                        <h4 class="fr" style="color:grey;">
                            {{ data.trade.entry }}
                        </h4>
                    </div>
                    <div>
                        <h4 class="inline">Stop loss</h4>
                        <h4 class="fr color-short">
                            {{ data.trade.stopLoss }}
                        </h4>
                    </div>
                    <div>
                        <h4 class="inline">Take profit</h4>
                        <h4 class="fr color-teal">
                            {{ data.trade.takeProfit }}
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>