<mat-card class="example-card modal-dialog-centered">
    <mat-card-title class="center">{{ setupName }}</mat-card-title>

    <mat-card-content>
        <p class="mt-4">{{ description }}</p>
        
        <h1 *ngIf="rules.length > 0" class="center">Rules</h1>
        <div *ngFor="let rule of rules">
            <p>{{ rule.name }}</p>
        </div>
    </mat-card-content>
</mat-card>