<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1>Setups</h1>
    </div>
    <div class="col-md-4 text-right">

      <button mat-raised-button (click)="openAddSetup()" style="float:right;">
        <i class="fa-solid fa-plus fa-lg" style="color:teal;"></i>
      </button>

      <!--
      <button class="btn btn-large btn-white" (click)="goToAddSetup()" style="float:right;">
        <i class="fa-solid fa-plus fa-lg" style="color:teal;"></i>
      </button>
      -->
    </div>
  </div>
  <div class="mat-elevation-z8 mt-3">
    <table mat-table [dataSource]="setupData" style="width: 100%;">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index" (click)=setupDetail(i)>{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>



      <ng-container matColumnDef="actions" style="float: right;">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" aria-label="Edit setup" style="margin-right: 10px;transform: scale(0.8);">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" aria-label="Delete setup" style="transform: scale(0.8);" (click)="deleteSetup(element.uuid)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>


























<!--

<div class="container mt-5">

    <div class="row">
        <div class="col-md-8">
            <h1>Setups</h1>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-large btn-dark" (click)="goToAddSetup()" style="float:right;">
              <i class="fa-solid fa-plus fa-lg" style="color:teal;"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped table-dark mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Rules</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let setup of setups; let index = index">
            <td> {{ index }} </td>
            <td (click)="setupDetail(index)" style="color:teal;" title="See detail"> <a style="text-decoration: none;">{{ setup['name'] }}</a> </td>
            <td> {{ setup['description'] }} </td>
            <td> {{ setup['rules'].length }} </td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="far fa-edit"></i></td>
            <td><i class="fas fa-times" style="color:red;" (click)="deleteSetup(setup.uuid)"></i></td>
          </tr>
        </tbody>
      </table>
</div>

-->
