<div class="container">
    <div class="row mat-elevation-z8">
        <div class="col-md-6">
            <h2>Hi username</h2>
        </div>
        <div class="col-md-6">
            <h2 *ngIf="parsed" class="fr">Balance : {{ wallet }} $</h2>
            <h2 *ngIf="!parsed" class="fr">
                <mat-spinner [diameter]="30" color=warn></mat-spinner>
            </h2>
        </div>

    </div>

    <!-- ONGOING TRADES -->
    <div class="row mt-5 pb-5 mat-elevation-z8">
        <div class="row mt-2">
            <h1>Ongoing trades</h1>
        </div>
        <div class="row mt-3">
            <div class="col-md-3" *ngFor="let trade of ongoingTrades">

                <div class="card mt-2" (click)="tradeDetail(trade.id)">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">
                                    {{ trade.asset.name }} / {{ trade.pair }}
                                    <b style="display: inline-block; font-size:13px;" *ngIf="trade.category.name=='Future'">
                                        x {{trade.leverage}}
                                    </b>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style">


                                    <mat-chip *ngIf="trade.category.name=='Spot'" color="primary" selected>
                                        {{trade.category.name}}</mat-chip>
                                    <mat-chip *ngIf="trade.category.name=='Future'" color="accent" selected>
                                        {{trade.category.name}}</mat-chip>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p style="float: right; ">
                                    <mat-chip *ngIf="trade.type=='long'" style="background-color:green;">{{trade.type}}
                                    </mat-chip>
                                    <mat-chip *ngIf="trade.type=='short'" style="background-color:red;">{{trade.type}}
                                    </mat-chip>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- 
    <div class="row mt-5 pb-5 mat-elevation-z8">

        <div class="row mt-3">
            <div class="col-md-12">
                <h1 style="display: inline-block; margin-left: 10px;">Spot</h1>
                <h2 class="fr color-teal"><b>{{ futureWallet }} $</b></h2>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Lost</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style" *ngIf="lostSpot">
                                    <b>{{ lostSpot }}</b>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('loss', 'Spot')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Neutral</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ neutralSpot }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('neutral', 'Spot')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Won</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ wonSpot }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('win', 'Spot')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Ongoing</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ inProgressSpot }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('in progress', 'Spot')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




    
    <div class="row mt-5 pb-5 mat-elevation-z8">

        <div class="row mt-2">
            <div class="col-md-12">
                <h1 style="display: inline-block; margin-left: 10px;">Future</h1>
                <h2 class="fr color-teal"><b>{{ futureWallet }} $</b></h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Lost</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ lostFuture }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('loss', 'Future')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Neutral</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ neutralFuture }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('neutral', 'Future')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Won</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ wonFuture }}</b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('win', 'Future')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">Ongoing</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text nb-trade-style"><b>{{ inProgressFuture }} </b></p>
                            </div>
                            <div class="col-md-6">
                                <a (click)="goToTrade('in progress', 'Future')" class="btn btn-dark btn-lg fr"><i
                                        class="fa-solid fa-arrow-right color-teal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

    <p> Place some analytics here given setups, timeframe, leverage / spot etc ... </p>
</div>